<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la página</title>
    <!-- Enlaces a tus archivos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Enlaces a archivos JavaScript si los tienes -->
</head>
<body>
    <!-- Barra de navegación común si la tienes -->
   <!-- Barra de navegación común en base.html -->
    <nav class="navbar navbar-dark bg-dark">

    <!-- Botón de Atrás -->
       <a class="btn btn-light" href="{{ url_for('index') }}">Inicio</a>
    </nav>


    <!-- Contenido de la página que se va a extender en las otras plantillas -->
    {% block content %}{% endblock %}

    <!-- Scripts de JavaScript si los tienes -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
