<!-- reporte_ventas_hoy.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Reporte de Ventas</h2>
    {% if detalles_ventas %}
        {% for detalle_venta in detalles_ventas %}
            <div class="card mb-4">
                <div class="card-header">
                    Venta realizada por: {{ detalle_venta['empleado'] }} - Fecha: {{ detalle_venta['fecha'] }}
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Medicamento</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio Unitario</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in detalle_venta['detalles'] %}
                                <tr>
                                    <td>{{ detalle['medicamento'] }}</td>
                                    <td>{{ detalle['cantidad'] }}</td>
                                    <td>{{ detalle['precio_unitario'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

